# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
ENV/
env.bak/
venv.bak/

# VS Code
.vscode/

# Ignore settings if they are local user settings (Optional, but usually good)
# settings.json 
